@use '../abstracts' as a;

.page-content {
    @include a.flexbox($direction: column, $gap: var(--space-2-5));

    @include a.bp($to: "tablet") {
        @include a.flexbox($direction: column, $gap: var(--space-1-5));
    }

    &__kicker {
        font-size: var(--fs-xs);
        font-weight: var(--fw-bold);
        color: var(--color-kicker-text);
        text-transform: uppercase;
        letter-spacing: a.rem(1.8);
    }

    &__title {
        color: var(--color-title-text);
        font-size: var(--fs-xxl);
        font-weight: var(--fw-bold);
        margin-block-start: a.rem(-20);
    }

    &__description {
        color: var(--color-description-text);
        font-size: var(--fs-body);
    }

    .price {
        @include a.flexbox($direction: column);
        margin-block-start: a.rem(-10);

        .final-price-container {
            @include a.flexbox($align: center, $gap: a.rem(24));
        }

        .final-price {
            color: var(--color-final-price-text);
            font-size: var(--fs-l);
            font-weight: var(--fw-bold);
        }

        .discount {
            color: var(--color-discount-text);
            background-color: var(--color-discount-bg);
            font-size: var(--fs-s);
            font-weight: var(--fw-bold);
            padding: a.rem(3.2) a.rem(9.6);
            border-radius: a.rem(6);
        }

        .original-price {
            color: var(--color-original-price-text);
            font-size: var(--fs-body);
            font-weight: var(--fw-bold);
        }

        @include a.bp($to: "tablet") {
            @include a.flexbox($direction: row, $align: center, $justify: space-between);
        }
    }

    .cart {
        @include a.flexbox($align: center);

        &__quantity-form {
            width: 100%;
            @include a.flexbox($align: center, $gap: var(--space-1));

            @include a.bp($to: "tablet") {
                @include a.flexbox($direction: column, $gap: var(--space-1));
            }
        }

        &__quantity-container {
            @include a.flexbox($align: center);

            @include a.bp($to: "tablet") {
                @include a.flexbox($justify: space-between);
            }
        }

        &__value-button {
            border: none;
            width: a.rem(50);
            height: a.rem(50);
            background-color: var(--color-cart-value-btn-bg);
            padding: 0;

            &:hover {
                cursor: pointer;
            }

            img {
                display: block;
                margin: auto;
            }

            &--decrease {
                border-top-left-radius: a.rem(8);
                border-bottom-left-radius: a.rem(8);
            }

            &--increase {
                border-top-right-radius: a.rem(8);
                border-bottom-right-radius: a.rem(8);
            }

            &-image--decrease {
                width: a.rem(12);
                height: a.rem(4);
            }

            &-image--increase {
                width: a.rem(12);
                height: a.rem(12);
            }

            @include a.bp($to: "tablet") {
                flex: 1;
            }
        }

        &__input {
            appearance: none;
            border: none;
            width: a.rem(50);
            height: a.rem(50);
            text-align: center;
            color: var(--color-cart-input-text);
            font-size: var(--fs-m);
            font-weight: var(--fw-bold);
            background-color: var(--color-cart-input-bg);

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            @include a.bp($to: "tablet") {
                flex: 1;
            }
        }

        &__add-to-cart-btn {
            @include a.flexbox($align: center, $justify: center, $gap: var(--space-1));
            flex: 1;
            border: none;
            border-radius: a.rem(8);
            height: a.rem(50);
            background-color: var(--color-cart-submit-btn-bg);
            font-weight: var(--fw-bold);
            box-shadow: rgb(255, 125, 26) 0px 18px 60px -7px;

            &:hover {
                cursor: pointer;
                background-color: hsla(var(--color-orange), 0.8);
                transition: all 0.3s ease-in-out;
            }

            svg {
                color: var(--color-cart-submit-btn-cart-icon);
            }

            @include a.bp($to: "tablet") {
                padding-block: a.rem(12);
            }
        }
    }
}