@use '../abstracts' as a;

.header {
    @include a.flexbox($align: center, $justify: space-between);
    padding-block: var(--space-2);
    border-bottom: 0.5px solid var(--color-nav-border);

    &__nav {
        @include a.flexbox($gap: var(--space-5));
    }

    &__links {
        @include a.flexbox($align: center, $justify: center, $gap: var(--space-2-5));

        li:hover {
            .header__link {
                color: var(--color-nav-hover-text);
                transition: all 0.3s ease-in-out;
            }

            .header__link::after {
                width: 100%;
            }
        }
    }

    &__link {
        color: var(--color-nav-text);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-color: var(--color-nav-hover-border);
            left: 0;
            bottom: 0;
            top: 60px;
            width: 0%;
            height: 3px;
            border-radius: 2px;
            transition: width 0.3s ease-in-out;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__actions {
        @include a.flexbox($align: center, $justify: center, $gap: var(--space-2));

        button {
            position: relative;
            background: none;
            border: none;
            padding: 0;
        }
    }

    &__cart-btn {
        color: var(--color-nav-cart-btn);

        &:hover {
            cursor: pointer;
            color: var(--color-nav-hover-cart-btn);
            transition: all 0.3s ease-in-out;
        }
    }

    &__cart-modal {
        @include a.flexbox($direction: column);
        background-color: var(--color-cart-modal-bg);
        position: absolute;
        top: a.rem(60);
        right: a.rem(-150);
        width: a.rem(400);
        height: a.rem(220);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        transform: translateY(-50px);
        opacity: 0;
        pointer-events: none;
        display: flex;
        visibility: hidden;

        &.mounted {
            transition: all 0.3s ease-in-out;
        }

        &.active {
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
        }
    }

    &__cart-title {
        font-size: var(--fs-body);
        font-weight: var(--fw-bold);
        color: var(--color-cart-modal-title-text);
        text-align: left;
        padding: var(--space-1) var(--space-1-5);
        border-bottom: 0.5px solid var(--color-nav-border);
    }

    &__cart-contents {
        @include a.flexbox($align: center, $justify: center);
        flex: 1;
        color: var(--color-cart-modal-content-text);
        font-weight: var(--fw-bold);
    }

    &__profile-btn {
        img {
            width: a.rem(40);
            height: a.rem(40);
            border: 2px solid transparent;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
                border: 2px solid var(--color-nav-profile-btn-border);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}