@use '../abstracts' as a;

.lightbox-gallery {
    @include a.flexbox($direction: column, $gap: var(--space-2));

    &__display-container {
        max-inline-size: a.rem(1000);
        width: 100%;
        overflow: hidden;
        position: relative;

        &:hover {
            cursor: pointer;
        }
    }

    &__slider {
        @include a.flexbox();
        transition: transform 0.5s ease-in-out;
    }

    &__display-image {
        border-radius: var(--space-1);
        width: 100%;
        flex-shrink: 0;
    }

    &__thumbnail-images {
        @include a.flexbox($gap: var(--space-1-5));
    }

    &__thumbnail-image {
        border-radius: var(--space-0-5);

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    &--overlay {
        .lightbox-gallery__thumbnail-images {
            padding: var(--space-2);
        }
    }
}

.lightbox-gallery__overlay {
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: var(--color-lightbox-bg);
    display: none;
    width: 100vw;
    height: 100vh;

    &-close-btn {
        align-self: flex-end;
        background: transparent;
        border: none;
        color: var(--color-lightbox-close-btn);

        &:hover {
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 1);
            -moz-box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 1);
            transition: all 0.3s ease-in-out;
        }

        padding: 0;
    }
}

.lightbox-gallery__overlay.active {
    @include a.flexbox($align: center, $justify: center);
}

.lightbox-gallery--overlay {
    padding: 1rem;
    max-width: 600px;
    max-height: 900px;
    width: 100%;
    border-radius: var(--space-1);
    @include a.flexbox($direction: column, $gap: var(--space-1));

    .lightbox-gallery__display-wrapper {
        position: relative;
        @include a.flexbox($align: center, $justify: center);
    }

    .lightbox-gallery__display-container {
        width: 100%;
        @include a.flexbox($align: center, $justify: center);
        overflow: hidden;
    }

    .lightbox-gallery__slider {
        @include a.flexbox();
        transition: transform 0.5s ease-in-out;
    }

    .lightbox-gallery__display-image {
        max-width: 100%;
        transition: transform;
    }

    .lightbox-gallery__nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--color-lightbox-nav-button);
        border: none;
        border-radius: 50%;
        font-size: 2rem;
        cursor: pointer;
        width: 60px;
        height: 60px;
        z-index: 1;
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
        @include a.flexbox($align: center, $justify: center);
        padding: 0;
    }

    .lightbox-gallery__nav:hover {
        opacity: 1;
    }

    .lightbox-gallery__nav--prev {
        left: -30px;

        svg {
            margin-right: 4px;
        }
    }

    .lightbox-gallery__nav--next {
        right: -30px;

        svg {
            margin-left: 4px;
        }
    }
}