@use '../abstracts' as a;

.lightbox-gallery {
    @include a.flexbox($direction: column, $gap: var(--space-2));

    &__display-container {
        max-inline-size: a.rem(1000);
        width: 100%;
        overflow: hidden;
        position: relative;

        &:hover {
            cursor: pointer;
        }
    }

    &__slider {
        @include a.flexbox();
        transition: transform 0.5s ease-in-out;

        &:focus,
        &:focus-visible {
            img {

                outline: 2px solid black;
                outline-offset: -2px;
            }
        }
    }

    &__display-image {
        border-radius: var(--space-1);
        width: 100%;
        flex-shrink: 0;

        @include a.bp($to: "tablet") {
            border-radius: 0;
        }
    }

    &__thumbnail-images {
        @include a.flexbox($gap: var(--space-1-5));

        @include a.bp($to: "tablet") {
            display: none !important;
        }
    }

    &__thumbnail-image-container {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border-radius: var(--space-0-5);


        .lightbox-gallery__thumbnail-image-highlight-overlay {
            position: absolute;
            background-color: var(--color-gallery-thumbnail-active);
            inset: 1;
            pointer-events: none;
        }

        &:focus .lightbox-gallery__thumbnail-image-highlight-overlay,
        &:focus-visible .lightbox-gallery__thumbnail-image-highlight-overlay,
        &:hover .lightbox-gallery__thumbnail-image-highlight-overlay {
            inset: 0;
            background-color: var(--color-gallery-thumbnail-hover);
        }
    }

    &__thumbnail-image {
        border-radius: var(--space-0-5);

        border: 2px solid transparent;
        position: relative;

        &.active {
            border: 2px solid var(--color-thumbnail-active-border);

            +.lightbox-gallery__thumbnail-image-highlight-overlay {
                position: absolute;
                background-color: var(--color-gallery-thumbnail-active);
                inset: 2px;
                cursor: pointer;
                border-radius: var(--space-0-5);
            }
        }
    }

    &--overlay {
        .lightbox-gallery__thumbnail-images {
            padding: var(--space-2);
        }
    }

    &__display-wrapper--mobile {
        @include a.flexbox($align: center, $justify: center);
        position: relative;

        .lightbox-gallery__nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--color-lightbox-nav-button);
            border: none;
            border-radius: 50%;
            font-size: 2rem;
            cursor: pointer;
            width: 40px;
            height: 40px;
            z-index: 1;
            opacity: 0.8;
            transition: all 0.3s ease-in-out;
            @include a.flexbox($align: center, $justify: center);
            padding: 0;
        }

        .lightbox-gallery__nav {

            &:focus,
            &:focus-visible,
            &:hover {
                opacity: 1;
                color: var(--color-lightbox-nav-button-hover-img);
            }
        }

        .lightbox-gallery__nav--prev {
            left: 10px;

            svg {
                margin-right: 4px;
            }
        }

        .lightbox-gallery__nav--next {
            right: 10px;

            svg {
                margin-left: 4px;
            }
        }

        @include a.bp($from: "tablet") {
            display: none;
        }
    }

    &__display-wrapper--desktop {
        display: flex;

        @include a.bp($to: "tablet") {
            display: none;
        }
    }

    &__display-wrapper:not(.lightbox-gallery__display-wrapper--mobile) {
        @include a.bp($to: "tablet") {
            display: none;
        }
    }
}

.lightbox-gallery__overlay {


    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: var(--color-lightbox-bg);
    display: none;
    width: 100vw;
    height: 100vh;



    &-close-btn {
        align-self: flex-end;
        background: transparent;
        border: none;
        color: var(--color-lightbox-close-btn);

        &:focus,
        &:focus-visible,
        &:hover {
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 1);
            -moz-box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 1);
            transition: all 0.3s ease-in-out;

            svg {
                color: var(--color-lightbox-close-btn-hover);
            }
        }

        padding: 0;
    }

    @include a.bp($to: "tablet") {
        display: none !important;
    }
}

.lightbox-gallery__overlay.active {
    @include a.flexbox($align: center, $justify: center);
}

.lightbox-gallery--overlay {
    padding: 1rem;
    max-width: 600px;
    max-height: 900px;
    width: 100%;
    border-radius: var(--space-1);
    @include a.flexbox($direction: column, $gap: var(--space-1));

    .lightbox-gallery__display-wrapper {
        position: relative;
        @include a.flexbox($align: center, $justify: center);
    }

    .lightbox-gallery__display-container {
        width: 100%;
        @include a.flexbox($align: center, $justify: center);
        overflow: hidden;
    }

    .lightbox-gallery__slider {
        @include a.flexbox();
        transition: transform 0.5s ease-in-out;
    }

    .lightbox-gallery__display-image {
        max-width: 100%;
        transition: transform;
    }

    .lightbox-gallery__nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--color-lightbox-nav-button);
        border: none;
        border-radius: 50%;
        font-size: 2rem;
        cursor: pointer;
        width: 60px;
        height: 60px;
        z-index: 1;
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
        @include a.flexbox($align: center, $justify: center);
        padding: 0;
    }

    .lightbox-gallery__nav {

        &:focus,
        &:focus-visible,
        &:hover {
            opacity: 1;
            color: var(--color-lightbox-nav-button-hover-img);
        }
    }

    .lightbox-gallery__nav--prev {
        left: -30px;

        svg {
            margin-right: 4px;
        }
    }

    .lightbox-gallery__nav--next {
        right: -30px;

        svg {
            margin-left: 4px;
        }
    }

    .lightbox-gallery__thumbnail-image-container {
        position: relative;
        overflow: hidden;

        .lightbox-gallery__thumbnail-image-highlight-overlay {
            position: absolute;
            background-color: var(--color-gallery-thumbnail-active);
            inset: 1;
            cursor: pointer;
            border-radius: var(--space-0-5);
        }

        &:hover .lightbox-gallery__thumbnail-image-highlight-overlay {
            inset: 0;
            background-color: var(--color-gallery-thumbnail-hover);
        }
    }

    .lightbox-gallery__thumbnail-image {
        border-radius: var(--space-0-5);

        border: 2px solid transparent;
        position: relative;

        &.active {
            border: 2px solid var(--color-thumbnail-active-border);

            +.lightbox-gallery__thumbnail-image-highlight-overlay {
                position: absolute;
                background-color: var(--color-gallery-thumbnail-active);
                inset: 2px;
                cursor: pointer;
                border-radius: var(--space-0-5);
            }
        }
    }

}