@use '../abstracts' as a;

html,
body {
    height: 100%;
    scrollbar-gutter: stable;
}

body {
    position: relative;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    background-color: var(--color-white-regular);
    @include a.flexbox($direction: column, $align: center, $gap: var(--space-5-5));
    height: auto;
    min-block-size: 100vh;
    line-height: 1.7;
    // padding-block-end: a.rem(100);
}

h1 {
    line-height: 1.1;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    display: none;
}

input {
    padding: 0;
}

.hidden {
    display: none !important;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}