@use './functions' as *;

:root {
    /* colors */

    // primary
    --color-orange-500: #ff7d1a;
    --color-orange-300: #ffede0;

    // neutral
    --color-blue-800: #1d2025;
    --color-blue-600: #68707d;
    --color-blue-400: #b6bcc8;
    --color-blue-200: #f7f8fd;

    --color-white: #ffffff;
    --color-black: #000000;

    // semantic
    --color-nav-text: var(--color-blue-600);
    --color-nav-border: var(--color-blue-400);
    --color-lightbox-bg: var(--color-black);

    /* font */

    // font-family
    --ff-primary: 'Kumbh Sans', 'sans-serif';

    // font-size
    --fs-xs: #{rem(13)};
    --fs-s: #{rem(15)};
    --fs-body: #{rem(16)};
    --fs-m: #{rem(20)};
    --fs-l: #{rem(25)};
    --fs-xl: #{rem(35)};
    --fs-xxl: clamp(1.875rem, 1.6549295774647887rem + 0.9389671361502347vw, 2.5rem);

    // font-weight
    --fw-regular: 400;
    --fw-bold: 700;

    /* spacing */
    --space-0-5: #{rem(12)};
    --space-1: #{rem(16)};
    --space-1-5: #{rem(24)};
    --space-2: #{rem(32)};
    --space-2-5: #{rem(36)};
    --space-3: #{rem(48)};
    --space-4: #{rem(64)};
    --space-5: #{rem(80)};
    --space-5-5: #{rem(90)};
    --space-6: #{rem(96)};
    --space-7: #{rem(112)};
    --space-7-5: #{rem(120)};
    --space-8: #{rem(128)};
    --space-9: #{rem(144)};
    --space-10: #{rem(160)};
}