@use '../abstracts' as a;

.wrapper {
    width: min(a.rem(1110), 100% - a.rem(40));
    margin-inline: auto;

    @include a.bp($to: "tablet") {
        .lightbox-gallery {
            margin-inline-start: a.rem(-20);
            margin-inline-end: a.rem(-20);
            width: calc(100% + a.rem(40));
        }
    }
}